mixin pageBlock(url,page)
  nav
    ul.pagination
      //- li: a(hrf="#",aria-label="Previous"): span(aria-hidden="true") &laquo;
      - for(var i=0;i<page.num;i++)
        if page.cur==i
          li.active: a(href=url+"start=#{page.size*i}&size="+page.size) #{i+1}
        else
          li: a(href=url+"start=#{page.size*i}&size="+page.size) #{i+1}           
mixin carItem(car)
  .car-item
    .thumb-content
      .car-banner-rent
        a(href='/car/#{car._id}') 折  扣  
      a(href='/car/#{car._id}')
        img(src='#{car.cover_l}', alt='')
    .down-content
      a(href='/car/#{car._id}')
        h4 #{car.name}
      span ￥#{car.price_off||car.price}万
      .line-dec
      p #{car.summary}
      ul.car-info
        li
          span 年份
          p #{car.year}
        |                                                 
        li
          span 售卖数
          p #{car.sell_num}
        |                                                 
        li
          span range
          p 26.00km
        |                                                 
        li
          span fuel
          p Petrol
            
mixin tagModal(tags)
  #tagModal.modal.fade
    .modal-dialog  
      .modal-content
        .modal-header 增加标签
        .modal-body(style="min-height:400px;")
          each tag in tags
            a.label.label-primary.tag_sel(hrf="#",style="margin-right:10px;") #{tag.name}
              input#type.form-control(type="hidden", name="car[tag]", value=tag._id)
        .modal-footer 
          button.btn.btn-default(type="button",data-dismiss="modal") 关闭
          button.btn.btn-success.tag_submit(type="button",data-dismiss="modal") 提交             