extends ../layout
block head
  link(href='/build/car.css',rel='stylesheet')
block content
  .recent-car.on-listing
    .container
      .recent-car-content
        .row
          .col-md-6
            img(src='#{car.cover_l}',width=570,height=370)
            //-#car-flexslider.car-flexslider
              .flex-viewport(style='overflow: hidden; position: relative;')
                ul.slides(style='width: 800%; transition-duration: 0s; transform: translate3d(-1665px, 0px, 0px);')
                  li(style='width: 555px; float: left; display: block;')
                    img(src='#{car.cover_l}', draggable='false')
                                    
           //- #car-carousel.car-flexslider
              .flex-viewport(style='overflow: hidden; position: relative;')
                ul.slides(style='width: 800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);')
                  li(style='width: 115px; float: left; display: block;')
                    img(src='#{car.cover_l}', draggable='false')                               
          .col-md-6
            .car-details
              a(href='single-car.html')
                h4 #{car.name}
              span ￥#{car.price_off||car.price}万
              .line-dec
              p #{car.summary}
              ul.car-info.col-md-6
                li
                  span Fabrication:
                  p 2013/2014
                li
                  span Speed:
                  p 160p/h
                li
                  span Mileage:
                  p 30.000km - 40.000km
                li
                  span Fuel:
                  p Petrol
              ul.car-info.col-md-6
                li
                  span Color:
                  p Black
                li
                  span Transmition:
                  p Automatic
                li
                  span Dors:
                  p 4/5
                li
                  span Engine:
                  p 2500cm3
              .contact-info
                .row
                  .col-md-6.col-sm-6.col-xs-6
                    i.fa.fa-phone
                    span 0038 / 49 - 511 - 868
                  .col-md-6.col-sm-6.col-xs-6
                    i.fa.fa-envelope
                    span youremail@gmail.com