extends ../layout
block head
  link(href='/build/car.css',rel='stylesheet')
block content
  .recent-car.on-listing
    .container
      .recent-car-content
        .row
          .col-md-6
            #myCarousel.carousel.slide(data-ride='carousel')
              // Indicators
              ol.carousel-indicators
                -each imgCover,i in car.cover_l
                  if i==0
                    li.active(data-target='#myCarousel', data-slide-to='#{i}')
                  else
                    li(data-target='#myCarousel', data-slide-to='#{i}')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                -each imgCover,i in car.cover_l
                  if i==0
                    .item.active
                      img(src='#{imgCover}', alt='...') 
                   else   
                    .item
                      img(src='#{imgCover}', alt='...')
              a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                |     
                span.sr-only Previous
              |   
              a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                |     
                span.sr-only Next                                                              
          .col-md-6
            .car-details
              h4 #{car.name}
                em.ml10 编号#{car.type} 
              em ￥#{car.price}万
              div 
                span #{car.version}   
                span.ml10 #{car.color}
              .line-dec
              p.desc #{car.summary}
                
              .contact-info
                .row
                  //- i.fa.fa-envelope
                  h3 销售电话：#{site.tel}
