extends ../layout
include ../includes/mixin
block head
  link(href='/build/libs/flexslider.css',rel='stylesheet')  
  link(href='/build/index.css',rel='stylesheet')
block content
  #TagCloud(data-tag="#{tagCloud}")
  .flexslider
    ul.slides
      - for item in banner
        li: img(src=item.url)
    .slider-box
      .row-box
        .title-box
          h3: i.fa.fa-fw.fa-clock-o 销售龙虎榜
        .content-box
          //- p 保证比直接到4S店购车划算
          ul.rank
            - for item,index in rank
              li
                i.sell-num #{item.num}台
                i.rank-index #{index+1}
                span.rank-name #{item.name}               
      //- .row-box
      //-   .title-box
      //-     h3: i.fa.fa-fw.fa-map-marker 服务保障
      //-   .content-box
      //-     p 不买车随时退款
      //- .row-box
      //-   .title-box
      //-     h3: i.fa.fa-fw.fa-phone 限时限量
      //-   .content-box
      //-     p.tlg 限时特卖，限量抢购
  .brand-wrap
    .container
      .row
        ul.brand-list
          - for brand in brands
            li
              a(target='_blank', href='/tag?tag=#{brand.name}',title='#{brand.name}')
                img(src='#{brand.logoUrl}', height='36')        
    .brand-shadow  
  .recent-car
    .container
      .recent-car-content
        dl.col-md-4
          dt
            h2.heading
              span 最新车
          - each car,index in newCar
            dd
              +carItem(car) 
        dl.col-md-4
          dt
            h2.heading
              span 畅销车
          - each car,index in hotCar
            dd
              +carItem(car)        
        dl.col-md-4
          dt
            h2.heading
              span 特价车
          - each car,index in unsaleCar
            dd
              +carItem(car)                             
  //- .top-wrap
    .container
      .row
        .span8.offset2
          .section-header
            .animated.bounceInRight.logo-car
              img(src='/assets/images/logo/logo-sub1.png')
            .heading-wrap
              h2.heading
                span 销售排行
      .row
        .col-xs-12.col-sm-6.col-lg-6
          article
            ul.nav.nav-tabs
              - each car , index  in hotCar
                li
                  a(href='#tab#{index}', data-toggle='tab', aria-expanded='false')
                    i.rank-num #{index+1}
                    strong #{car.name}
                    | #{car.summary}
               
        .tab-content.col-xs-12.col-sm-6.col-lg-6
          - each car,index in hotCar
            .tab-pane(id='tab#{index}')
              article.clearfix.animated.text-left.animation-done
                a(href='/car/#{car._id}', target='_blank')
                  img.img-responsive(src='#{car.cover_l}')

  //-.container
    .row
      if categories.length > 0
        each cat in categories
          .panel.panel-default
            .panel-heading
              h3 
                a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
            .panel-body
              if cat.cars && cat.cars.length > 0
                each item in cat.cars
                  .col-md-2
                    .thumbnail
                      a(href='/car/#{item._id}')
                        if item.poster.indexOf('http:')>-1
                          img(src='#{item.poster}',alt='item.title')
                        else
                          img(src='/upload/#{item.poster}',alt='item.title')
                      .caption
                        h3 #{item.title}
                        p: a.btn.btn-primary(href='/car/#{item._id}',role='button')
                          观看预告片！

block bottom

  script(src="http://cdn.bootcss.com/jqcloud/1.0.4/jqcloud-1.0.4.js")
  script(src="/assets/js/index.js")