extends ../layout
include ../includes/mixin
block head
  link(href='/build/libs/flexslider.css',rel='stylesheet')  
  link(href='/build/index.css',rel='stylesheet')
block content
  .flexslider
    ul.slides
      - for item in banner
        li: img(src=item.url)
    .slider-box
      .row-box
        .title-box
          h3: i.fa.fa-fw.fa-clock-o 100%划算
        .content-box
          p 保证比直接到4S店购车划算
      .row-box
        .title-box
          h3: i.fa.fa-fw.fa-map-marker 服务保障
        .content-box
          p 不买车随时退款
      .row-box
        .title-box
          h3: i.fa.fa-fw.fa-phone 限时限量
        .content-box
          p.tlg 限时特卖，限量抢购
  .brand-wrap
    .container
      .row
        ul.brand-list
          - for brand in brands
            li
              a(target='_blank', href='www.baidu.com')
                img(src='#{brand.logoUrl}', height='36')        
    .brand-shadow   
  .top-wrap
    .container
      .row
        .span8.offset2
          .section-header
            .animated.bounceInRight.logo-car
              img(src='/assets/images/logo/logo-sub1.png')
            .heading-wrap
              h2.heading
                span 销售排行
      .row
        .col-xs-12.col-sm-6.col-lg-6
          article
            ul.nav.nav-tabs
              - each car , index  in top
                li
                  a(href='#tab#{index}', data-toggle='tab', aria-expanded='false')
                    i.rank-num #{index}
                    strong #{car.name}
                    | #{car.summary}
               
        .tab-content.col-xs-12.col-sm-6.col-lg-6
          - each car,index in top
            .tab-pane(id='tab#{index}')
              article.clearfix.animated.text-left.animation-done
                a(href='/car/#{car._id}', target='_blank')
                  img.img-responsive(src='#{car.cover_l}')
  .recent-car
    .container
      .recent-car-content
        .row
          .span8.offset2
            .section-header
              .animated.bounceInRight.logo-car
                img(src='/assets/images/logo/logo-sub1.png')
              .heading-wrap
                h2.heading
                  span 热门推荐
        |                             
        .row
          - each car,index in top
            .col-md-4
              +carItem(car)  
  //-.container
    .row
      if categories.length > 0
        each cat in categories
          .panel.panel-default
            .panel-heading
              h3 
                a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
            .panel-body
              if cat.cars && cat.cars.length > 0
                each item in cat.cars
                  .col-md-2
                    .thumbnail
                      a(href='/car/#{item._id}')
                        if item.poster.indexOf('http:')>-1
                          img(src='#{item.poster}',alt='item.title')
                        else
                          img(src='/upload/#{item.poster}',alt='item.title')
                      .caption
                        h3 #{item.title}
                        p: a.btn.btn-primary(href='/car/#{item._id}',role='button')
                          观看预告片！

block bottom
  script(src="/assets/js/index.js")