extends ../adminlayout
block content
  table.table.table-hover.table-striped
    thead
      tr
        th 标签名
        th 序号
        th 更新
        //- th 删除
    tbody
      each item in tags
        tr(class="item-id-#{item._id}")
          td #{item.name}
          td #{item.order}
          td: a(target="_blank",href="/admin/tags/update/#{item._id}") 修改
          //- td
            button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
  div
    -var color=["default","primary","success"]
    each item in tags
      span.label.label-default #{item.name}
block bottom       
  script(src="/assets/js/main.js")                  
