extends ../../layout_admin
block content
      table.table.table-hover.table-striped
        thead
          tr
            th 品牌名
            th 序号
            th logo地址
            th 更新
            //- th 删除
        tbody
          each item in brands
            tr(class="item-id-#{item._id}")
              td #{item.name}
              td #{item.order}
              td #{item.logoUrl}
              td: a(target="_blank",href="/admin/brands/update/#{item._id}") 修改
              //- td
                button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
  script(src="/assets/js/main.js")                  
